In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
 # to see better in Jupyter notebook / lab

In [2]:
import numpy as np # for numbers, NaN values etc. 
import pandas as pd # for excel tables etc

In [3]:
from bs4 import BeautifulSoup # import to read HTML file

In [4]:
import os # for reading file names in photo directory

In [5]:
import re # for finding missing photos

## Load excel file

In [6]:
import os

In [94]:
os.chdir('C:\\Users\\meita\\Documents\\shenkar\\jma\\data\\STUDENTS\\Hotels_anaconda')

In [95]:
df1 = pd.read_excel(r'hotelonly1.xlsx')
df2 = pd.read_excel(r'hotel2to193.xlsx')
df3 = pd.read_excel(r'hotel193to195.xlsx')
df4 = pd.read_excel(r'hotel195to304.xlsx')
df5 = pd.read_excel(r'hotel248to267.xlsx')
df6 = pd.read_excel(r'hotel267to573.xlsx')
df7 = pd.read_excel(r'hotel573to699.xlsx')

In [96]:
frames = [df1, df2, df3, df4, df5, df6, df7]

In [97]:
result = pd.concat(frames)

In [98]:
result

,Unnamed: 0,Building ID,tag,#results_for_bbl,name,address,lat,lon,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,1,1698,hotel,35,Ruth Daniel Residence Hotel,"Derekh Ben-Zvi 1, Tel Aviv-Yafo, Israel",32.050554,34.759646,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours
1,2,1698,hotel,35,Overstay TLV Hostel,"Derekh Ben-Zvi 47, Tel Aviv-Yafo, 6810331, Israel",32.048129,34.765459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1698,hotel,35,ALPHA APARTMENTS (Talmar ltd.),"Pestalozzi St 27, Tel Aviv-Yafo, 6809515, Israel",32.047023,34.757061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1698,hotel,35,Alfa Apartments,"Pestalozzi St 27, Tel Aviv-Yafo, 6809515, Israel",32.047023,34.757061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1698,hotel,35,בירדי,"HaYesod St 4, Tel Aviv-Yafo, Israel",32.051404,34.766379,10:00 AM – 6:00 PM,10:00 AM – 6:00 PM,10:00 AM – 6:00 PM,10:00 AM – 7:00 PM,10:00 AM – 2:00 PM,Closed,10:00 AM – 5:00 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5276,41,205265,hotel,45,Florentin House Tel Aviv Hostel,"Florentin St 6, Tel Aviv-Yafo, Israel",32.056083,34.767652,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours
5277,42,205265,hotel,45,Oliver,"Simtat Beit HaBad 5, Tel Aviv-Yafo, Israel",32.060687,34.769603,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours
5278,43,205265,hotel,45,Harova old jaffa,"Rabi Pinkhas St 4, Tel Aviv-Yafo, 6802831, Israel",32.053004,34.754327,9:00 AM – 7:00 PM,9:00 AM – 7:00 PM,9:00 AM – 7:00 PM,9:00 AM – 7:00 PM,9:00 AM – 1:00 PM,Closed,9:00 AM – 7:00 PM
5279,44,205265,hotel,45,מישל סלון,"David Razi'el St 2, Tel Aviv-Yafo, Israel",32.056942,34.759556,10:00 AM – 7:00 PM,10:00 AM – 7:00 PM,10:00 AM – 7:00 PM,10:00 AM – 7:00 PM,9:00 AM – 2:00 PM,Closed,10:00 AM – 7:00 PM
5280,45,205265,hotel,45,סלונה,"Tirtsa St 17, Tel Aviv-Yafo, Israel",32.055535,34.760493,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
id_lst = result['Building ID']

In [100]:
id_lst

0         1698
1         1698
2         1698
3         1698
4         1698
         ...
5276    205265
5277    205265
5278    205265
5279    205265
5280    205265
Name: Building ID, Length: 32524, dtype: int64

In [101]:
id_unique = id_lst.unique()

In [102]:
id_df = pd.DataFrame(id_unique)

NOTICE - not all id's exist . match later with full id listrankings_pd.rename(columns = {'test':'TEST'}, inplace = True)

In [103]:
id_df.rename(columns = {0:'id'}, inplace = True)

In [104]:
id_df['n_hotels']= 'NaN' # innit and empty column to place values

In [106]:
#n_results_for_bbl = [] #create placeholder list
for x,i in enumerate(id_unique) :
   # result[['Building ID'] == i]
    all_hotels_for_id = result.loc[result['Building ID'] == i]
    first_res_for_id = all_hotels_for_id.head(1)
    id_df.iloc[x, 1] = first_res_for_id['#results_for_bbl']
    #n_results_for_bbl.append(first_res_for_id['#results_for_bbl'])

In [107]:
id_df

         id n_hotels
0      1698       35
1      2110       46
2      2143       47
3      2203       48
4      2220       43
..      ...      ...
688   65329       43
689   65652       50
690   65937       49
691   65938       42
692  205265       45

[693 rows x 2 columns]

# HOTELS

In [167]:
os.chdir('C:\\Users\\meita\\Documents\\shenkar\\jma\\web\\wip\\images\\data')

In [236]:
id_df = id_df.drop('n_hotels', axis=1)

         id
0      1698
1      2110
2      2143
3      2203
4      2220
..      ...
688   65329
689   65652
690   65937
691   65938
692  205265

[693 rows x 1 columns]

In [104]:
id_df['n_hotels']= 'NaN' # innit and empty column to place values

In [106]:
#n_results_for_bbl = [] #create placeholder list
for x,i in enumerate(id_unique) :
   # result[['Building ID'] == i]
    all_hotels_for_id = result.loc[result['Building ID'] == i]
    first_res_for_id = all_hotels_for_id.head(1)
    id_df.iloc[x, 1] = first_res_for_id['#results_for_bbl']
    #n_results_for_bbl.append(first_res_for_id['#results_for_bbl'])

In [168]:
master_df = pd.read_excel(r'master.xlsx')

In [203]:
all_id = pd.DataFrame(master_df['id'])

In [204]:
all_id['n_hotels']= 'NaN' # innit and empty column to place values

In [205]:
all_id

         id n_hotels
0      1698      NaN
1      1700      NaN
2      2110      NaN
3      2143      NaN
4      2203      NaN
..      ...      ...
695   65329      NaN
696   65652      NaN
697   65937      NaN
698   65938      NaN
699  205265      NaN

[700 rows x 2 columns]

In [206]:
all_id_copy = all_id.copy(deep=True)

In [207]:
#iterate through each row of dataframe
for index, row in id_df.iterrows():
    row_loc_in_all_id = all_id.loc[all_id['id'] == row['id']].index.tolist()[0]  #find the rows in all_id that also exist in id_df 
    #all_id.loc[[row_loc_in_all_id]].iloc[0,1] = 'yellow'#
    all_id_copy.at[row_loc_in_all_id,'n_hotels'] = row['n_hotels']

In [208]:
all_id_copy

         id n_hotels
0      1698       35
1      1700      NaN
2      2110       46
3      2143       47
4      2203       48
..      ...      ...
695   65329       43
696   65652       50
697   65937       49
698   65938       42
699  205265       45

[700 rows x 2 columns]

In [209]:
all_id_copy.to_excel(r'C:\Users\meita\Documents\shenkar\jma\data\STUDENTS\Hotels_anaconda\combo_trimmed.xlsx', index = False)

# BARS

In [237]:
os.chdir(r'C:\Users\meita\Documents\shenkar\jma\data\STUDENTS\bars')

In [238]:
df1 = pd.read_excel(r'bar_342.xlsx')
df2 = pd.read_excel(r'bar_700.xlsx')

In [239]:
frames = [df1, df2]

In [240]:
result = pd.concat(frames)

In [241]:
result

,Unnamed: 0,Building ID,tag,#results_for_bbl,name,address,lat,lon,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,1,1698,bar,4,Itai bar On,"HaPelech St, Tel Aviv-Yafo, Israel",32.050332,34.766359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1698,bar,4,TINY Living Room,"Yehuda Hayamit St 4, Tel Aviv-Yafo, Israel",32.049796,34.759524,Closed,Closed,Closed,Closed,Closed,11:00 AM – 5:00 PM,Closed
2,3,1698,bar,4,אינתא,"Derekh Ben-Zvi 3, Tel Aviv-Yafo, Israel",32.050315,34.759908,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1698,bar,4,Inta Lounge Bar - אינתא - انت Inta,"Derekh Ben-Zvi 3, Tel Aviv-Yafo, 6816203, Israel",32.050315,34.759908,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1700,bar,4,Itai bar On,"HaPelech St, Tel Aviv-Yafo, Israel",32.050332,34.766359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13771,39,205265,bar,43,La Gare,"מתחם התחנה, Tel Aviv-Yafo, Israel",32.058843,34.762002,Closed,Closed,Closed,9:30 PM – 3:00 AM,9:30 PM – 3:00 AM,9:30 PM – 3:00 AM,Closed
13772,40,205265,bar,43,Roger's House Hostel Tel Aviv,"Aharon Chelouche Ln 17, Tel Aviv-Yafo, Israel",32.058962,34.764895,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours,Open 24 hours
13773,41,205265,bar,43,בר קומפורט,"1253 St, Tel Aviv-Yafo, Israel",32.057438,34.766263,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13774,42,205265,bar,43,Jam Bar,"3361 St 23, Tel Aviv-Yafo, Israel",32.057541,34.766721,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13775,43,205265,bar,43,הגרעין,"3361 St 22, Tel Aviv-Yafo, Israel",32.057648,34.766687,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
id_lst = result['Building ID']

In [243]:
id_lst

0          1698
1          1698
2          1698
3          1698
4          1700
          ...
13771    205265
13772    205265
13773    205265
13774    205265
13775    205265
Name: Building ID, Length: 30266, dtype: int64

In [244]:
id_unique = id_lst.unique()

In [245]:
id_df = pd.DataFrame(id_unique)

NOTICE - not all id's exist . match later with full id listrankings_pd.rename(columns = {'test':'TEST'}, inplace = True)

In [246]:
id_df.rename(columns = {0:'id'}, inplace = True)

In [247]:
id_df['n_bars']= 'NaN' # innit and empty column to place values

In [229]:
all_id = all_id.drop('n_hotels', axis=1)

In [258]:
#n_results_for_bbl = [] #create placeholder list
for x,i in enumerate(id_unique) :
   # result[['Building ID'] == i]
    all_bars_for_id = result.loc[result['Building ID'] == i]
    first_res_for_id = all_bars_for_id.head(1)
    id_df.iloc[x, 1] = first_res_for_id['#results_for_bbl']
    #n_results_for_bbl.append(first_res_for_id['#results_for_bbl'])

In [263]:
all_id

         id n_bars
0      1698    NaN
1      1700    NaN
2      2110    NaN
3      2143    NaN
4      2203    NaN
..      ...    ...
695   65329    NaN
696   65652    NaN
697   65937    NaN
698   65938    NaN
699  205265    NaN

[700 rows x 2 columns]

In [260]:
all_id_copy = all_id.copy(deep=True)

In [261]:
#iterate through each row of dataframe
for index, row in id_df.iterrows():
    row_loc_in_all_id = all_id.loc[all_id['id'] == row['id']].index.tolist()[0]  #find the rows in all_id that also exist in id_df 
    #all_id.loc[[row_loc_in_all_id]].iloc[0,1] = 'yellow'#
    row['n_bars']
    all_id_copy.at[row_loc_in_all_id,'n_bars'] = row['n_bars']

id        1698
n_bars       4
Name: 0, dtype: object

4

id        1700
n_bars       4
Name: 1, dtype: object

4

id        2110
n_bars      50
Name: 2, dtype: object

50

id        2143
n_bars       3
Name: 3, dtype: object

3

id        2203
n_bars       1
Name: 4, dtype: object

1

id        2220
n_bars      50
Name: 5, dtype: object

50

id        2222
n_bars      48
Name: 6, dtype: object

48

id        2225
n_bars      49
Name: 7, dtype: object

49

id        2230
n_bars      51
Name: 8, dtype: object

51

id        2231
n_bars      51
Name: 9, dtype: object

51

id        2232
n_bars      56
Name: 10, dtype: object

56

id        2233
n_bars      51
Name: 11, dtype: object

51

id        2236
n_bars      52
Name: 12, dtype: object

52

id        2241
n_bars      51
Name: 13, dtype: object

51

id        2243
n_bars      49
Name: 14, dtype: object

49

id        2260
n_bars      48
Name: 15, dtype: object

48

id        2261
n_bars      50
Name: 16, dtype: object

50

id        2262
n_bars      52
Name: 17, dtype: object

52

id        2266
n_bars      49
Name: 18, dtype: object

49

id        2293
n_bars      50
Name: 19, dtype: object

50

id        2306
n_bars      58
Name: 20, dtype: object

58

id        2309
n_bars      49
Name: 21, dtype: object

49

id        2312
n_bars      50
Name: 22, dtype: object

50

id        2313
n_bars      48
Name: 23, dtype: object

48

id        2325
n_bars      49
Name: 24, dtype: object

49

id        2326
n_bars      49
Name: 25, dtype: object

49

id        2331
n_bars      50
Name: 26, dtype: object

50

id        2334
n_bars      55
Name: 27, dtype: object

55

id        2354
n_bars      56
Name: 28, dtype: object

56

id        2355
n_bars      55
Name: 29, dtype: object

55

id        2365
n_bars      56
Name: 30, dtype: object

56

id        2366
n_bars      36
Name: 31, dtype: object

36

id        2369
n_bars      55
Name: 32, dtype: object

55

id        2370
n_bars      55
Name: 33, dtype: object

55

id        2373
n_bars      56
Name: 34, dtype: object

56

id        2374
n_bars      55
Name: 35, dtype: object

55

id        2379
n_bars      54
Name: 36, dtype: object

54

id        2407
n_bars      53
Name: 37, dtype: object

53

id        2408
n_bars      53
Name: 38, dtype: object

53

id        2418
n_bars      50
Name: 39, dtype: object

50

id        2438
n_bars      55
Name: 40, dtype: object

55

id        2495
n_bars      51
Name: 41, dtype: object

51

id        2498
n_bars      49
Name: 42, dtype: object

49

id        2509
n_bars      49
Name: 43, dtype: object

49

id        2510
n_bars      50
Name: 44, dtype: object

50

id        2511
n_bars      49
Name: 45, dtype: object

49

id        2512
n_bars      48
Name: 46, dtype: object

48

id        2514
n_bars      53
Name: 47, dtype: object

53

id        2517
n_bars      55
Name: 48, dtype: object

55

id        2518
n_bars      56
Name: 49, dtype: object

56

id        2535
n_bars      58
Name: 50, dtype: object

58

id        2536
n_bars      53
Name: 51, dtype: object

53

id        2538
n_bars      52
Name: 52, dtype: object

52

id        2556
n_bars      50
Name: 53, dtype: object

50

id        2562
n_bars      50
Name: 54, dtype: object

50

id        2566
n_bars      52
Name: 55, dtype: object

52

id        2571
n_bars      51
Name: 56, dtype: object

51

id        2572
n_bars      51
Name: 57, dtype: object

51

id        2573
n_bars      52
Name: 58, dtype: object

52

id        2574
n_bars      51
Name: 59, dtype: object

51

id        2575
n_bars      49
Name: 60, dtype: object

49

id        2576
n_bars      49
Name: 61, dtype: object

49

id        2577
n_bars      49
Name: 62, dtype: object

49

id        2588
n_bars      48
Name: 63, dtype: object

48

id        2590
n_bars      49
Name: 64, dtype: object

49

id        2597
n_bars      54
Name: 65, dtype: object

54

id        2598
n_bars      51
Name: 66, dtype: object

51

id        2599
n_bars      52
Name: 67, dtype: object

52

id        2604
n_bars      49
Name: 68, dtype: object

49

id        2607
n_bars      51
Name: 69, dtype: object

51

id        2608
n_bars      49
Name: 70, dtype: object

49

id        2609
n_bars      49
Name: 71, dtype: object

49

id        2610
n_bars      50
Name: 72, dtype: object

50

id        2611
n_bars      52
Name: 73, dtype: object

52

id        2616
n_bars      51
Name: 74, dtype: object

51

id        2617
n_bars      48
Name: 75, dtype: object

48

id        2618
n_bars      50
Name: 76, dtype: object

50

id        2621
n_bars      49
Name: 77, dtype: object

49

id        2624
n_bars      50
Name: 78, dtype: object

50

id        2625
n_bars      51
Name: 79, dtype: object

51

id        2628
n_bars      51
Name: 80, dtype: object

51

id        2763
n_bars      53
Name: 81, dtype: object

53

id        2795
n_bars      39
Name: 82, dtype: object

39

id        2797
n_bars      40
Name: 83, dtype: object

40

id        2799
n_bars      53
Name: 84, dtype: object

53

id        2803
n_bars      39
Name: 85, dtype: object

39

id        2805
n_bars      40
Name: 86, dtype: object

40

id        2809
n_bars      51
Name: 87, dtype: object

51

id        2810
n_bars      53
Name: 88, dtype: object

53

id        2811
n_bars      56
Name: 89, dtype: object

56

id        2812
n_bars      51
Name: 90, dtype: object

51

id        2813
n_bars      49
Name: 91, dtype: object

49

id        2822
n_bars      51
Name: 92, dtype: object

51

id        2823
n_bars      48
Name: 93, dtype: object

48

id        2824
n_bars      51
Name: 94, dtype: object

51

id        2825
n_bars      50
Name: 95, dtype: object

50

id        2828
n_bars      50
Name: 96, dtype: object

50

id        2833
n_bars      49
Name: 97, dtype: object

49

id        2838
n_bars      43
Name: 98, dtype: object

43

id        2841
n_bars      36
Name: 99, dtype: object

36

id        2846
n_bars      49
Name: 100, dtype: object

49

id        2847
n_bars      42
Name: 101, dtype: object

42

id        2853
n_bars      51
Name: 102, dtype: object

51

id        2855
n_bars      43
Name: 103, dtype: object

43

id        2857
n_bars      42
Name: 104, dtype: object

42

id        2858
n_bars      52
Name: 105, dtype: object

52

id        2859
n_bars      47
Name: 106, dtype: object

47

id        2860
n_bars      43
Name: 107, dtype: object

43

id        2861
n_bars      49
Name: 108, dtype: object

49

id        2866
n_bars      51
Name: 109, dtype: object

51

id        2867
n_bars      46
Name: 110, dtype: object

46

id        2868
n_bars      55
Name: 111, dtype: object

55

id        2871
n_bars      50
Name: 112, dtype: object

50

id        2873
n_bars      51
Name: 113, dtype: object

51

id        2882
n_bars      47
Name: 114, dtype: object

47

id        2886
n_bars      40
Name: 115, dtype: object

40

id        2905
n_bars      43
Name: 116, dtype: object

43

id        2914
n_bars      51
Name: 117, dtype: object

51

id        2917
n_bars      51
Name: 118, dtype: object

51

id        2918
n_bars      50
Name: 119, dtype: object

50

id        2919
n_bars      51
Name: 120, dtype: object

51

id        2920
n_bars      51
Name: 121, dtype: object

51

id        2927
n_bars      51
Name: 122, dtype: object

51

id        2942
n_bars      51
Name: 123, dtype: object

51

id        2944
n_bars      52
Name: 124, dtype: object

52

id        2952
n_bars      53
Name: 125, dtype: object

53

id        2954
n_bars      46
Name: 126, dtype: object

46

id        2962
n_bars      49
Name: 127, dtype: object

49

id        2974
n_bars      49
Name: 128, dtype: object

49

id        2975
n_bars      49
Name: 129, dtype: object

49

id        2983
n_bars      51
Name: 130, dtype: object

51

id        2995
n_bars      41
Name: 131, dtype: object

41

id        2999
n_bars      40
Name: 132, dtype: object

40

id        3008
n_bars      40
Name: 133, dtype: object

40

id        3010
n_bars      40
Name: 134, dtype: object

40

id        3019
n_bars      48
Name: 135, dtype: object

48

id        3020
n_bars      48
Name: 136, dtype: object

48

id        3021
n_bars      45
Name: 137, dtype: object

45

id        5714
n_bars      54
Name: 138, dtype: object

54

id        6277
n_bars      31
Name: 139, dtype: object

31

id        6383
n_bars      55
Name: 140, dtype: object

55

id        6387
n_bars      55
Name: 141, dtype: object

55

id        6391
n_bars      53
Name: 142, dtype: object

53

id        6392
n_bars      55
Name: 143, dtype: object

55

id        6393
n_bars      56
Name: 144, dtype: object

56

id        6394
n_bars      52
Name: 145, dtype: object

52

id        6397
n_bars      53
Name: 146, dtype: object

53

id        6399
n_bars      55
Name: 147, dtype: object

55

id        6401
n_bars      52
Name: 148, dtype: object

52

id        6403
n_bars      55
Name: 149, dtype: object

55

id        6405
n_bars      54
Name: 150, dtype: object

54

id        6410
n_bars      54
Name: 151, dtype: object

54

id        6412
n_bars      54
Name: 152, dtype: object

54

id        6416
n_bars      53
Name: 153, dtype: object

53

id        6418
n_bars      55
Name: 154, dtype: object

55

id        6419
n_bars      58
Name: 155, dtype: object

58

id        6431
n_bars      53
Name: 156, dtype: object

53

id        6432
n_bars      53
Name: 157, dtype: object

53

id        6438
n_bars      54
Name: 158, dtype: object

54

id        6439
n_bars      52
Name: 159, dtype: object

52

id        6458
n_bars      52
Name: 160, dtype: object

52

id        6461
n_bars      49
Name: 161, dtype: object

49

id        6463
n_bars      49
Name: 162, dtype: object

49

id        6464
n_bars      50
Name: 163, dtype: object

50

id        6467
n_bars      50
Name: 164, dtype: object

50

id        6473
n_bars      49
Name: 165, dtype: object

49

id        6476
n_bars      50
Name: 166, dtype: object

50

id        6481
n_bars      52
Name: 167, dtype: object

52

id        6488
n_bars      49
Name: 168, dtype: object

49

id        6748
n_bars      40
Name: 169, dtype: object

40

id        6789
n_bars      40
Name: 170, dtype: object

40

id        6799
n_bars      51
Name: 171, dtype: object

51

id        6800
n_bars      50
Name: 172, dtype: object

50

id        6801
n_bars      50
Name: 173, dtype: object

50

id        6802
n_bars      51
Name: 174, dtype: object

51

id        6803
n_bars      51
Name: 175, dtype: object

51

id        6812
n_bars      51
Name: 176, dtype: object

51

id        6822
n_bars      54
Name: 177, dtype: object

54

id        6825
n_bars      40
Name: 178, dtype: object

40

id        6826
n_bars      49
Name: 179, dtype: object

49

id        6829
n_bars      55
Name: 180, dtype: object

55

id        6852
n_bars      49
Name: 181, dtype: object

49

id        6877
n_bars      50
Name: 182, dtype: object

50

id        6879
n_bars      47
Name: 183, dtype: object

47

id        6883
n_bars      46
Name: 184, dtype: object

46

id        6888
n_bars      53
Name: 185, dtype: object

53

id        6889
n_bars      47
Name: 186, dtype: object

47

id        6897
n_bars      49
Name: 187, dtype: object

49

id        6899
n_bars      51
Name: 188, dtype: object

51

id        6900
n_bars      48
Name: 189, dtype: object

48

id        6913
n_bars      40
Name: 190, dtype: object

40

id        6923
n_bars      35
Name: 191, dtype: object

35

id        6930
n_bars      50
Name: 192, dtype: object

50

id        6938
n_bars      53
Name: 193, dtype: object

53

id        6955
n_bars      48
Name: 194, dtype: object

48

id        6958
n_bars      50
Name: 195, dtype: object

50

id        6959
n_bars      50
Name: 196, dtype: object

50

id        6960
n_bars      50
Name: 197, dtype: object

50

id        6963
n_bars      51
Name: 198, dtype: object

51

id        6964
n_bars      55
Name: 199, dtype: object

55

id        6989
n_bars      53
Name: 200, dtype: object

53

id        7007
n_bars      53
Name: 201, dtype: object

53

id        7008
n_bars      52
Name: 202, dtype: object

52

id        7009
n_bars      48
Name: 203, dtype: object

48

id        7013
n_bars      53
Name: 204, dtype: object

53

id        7014
n_bars      53
Name: 205, dtype: object

53

id        7015
n_bars      50
Name: 206, dtype: object

50

id        7018
n_bars      49
Name: 207, dtype: object

49

id        7019
n_bars      50
Name: 208, dtype: object

50

id        7022
n_bars      53
Name: 209, dtype: object

53

id        7027
n_bars      55
Name: 210, dtype: object

55

id        7028
n_bars      55
Name: 211, dtype: object

55

id        7032
n_bars      53
Name: 212, dtype: object

53

id        7035
n_bars      52
Name: 213, dtype: object

52

id        7036
n_bars      53
Name: 214, dtype: object

53

id        7060
n_bars      50
Name: 215, dtype: object

50

id        7080
n_bars      48
Name: 216, dtype: object

48

id        7083
n_bars      50
Name: 217, dtype: object

50

id        7085
n_bars      53
Name: 218, dtype: object

53

id        7086
n_bars      49
Name: 219, dtype: object

49

id        7087
n_bars      48
Name: 220, dtype: object

48

id        7111
n_bars      51
Name: 221, dtype: object

51

id        7128
n_bars      49
Name: 222, dtype: object

49

id        7149
n_bars      47
Name: 223, dtype: object

47

id        7167
n_bars       1
Name: 224, dtype: object

1

id        7169
n_bars      51
Name: 225, dtype: object

51

id        7170
n_bars      45
Name: 226, dtype: object

45

id        7171
n_bars      50
Name: 227, dtype: object

50

id        7185
n_bars      45
Name: 228, dtype: object

45

id        7186
n_bars      53
Name: 229, dtype: object

53

id        7187
n_bars      53
Name: 230, dtype: object

53

id        7192
n_bars      52
Name: 231, dtype: object

52

id        7193
n_bars      51
Name: 232, dtype: object

51

id        7194
n_bars      51
Name: 233, dtype: object

51

id        7195
n_bars      52
Name: 234, dtype: object

52

id        7196
n_bars      50
Name: 235, dtype: object

50

id        7198
n_bars      54
Name: 236, dtype: object

54

id        7201
n_bars      40
Name: 237, dtype: object

40

id        7204
n_bars      53
Name: 238, dtype: object

53

id        7208
n_bars      47
Name: 239, dtype: object

47

id        7213
n_bars      49
Name: 240, dtype: object

49

id        7216
n_bars      49
Name: 241, dtype: object

49

id        7220
n_bars      49
Name: 242, dtype: object

49

id        7224
n_bars      50
Name: 243, dtype: object

50

id        7225
n_bars      49
Name: 244, dtype: object

49

id        7226
n_bars      51
Name: 245, dtype: object

51

id        7227
n_bars      50
Name: 246, dtype: object

50

id        7230
n_bars      49
Name: 247, dtype: object

49

id        7270
n_bars      39
Name: 248, dtype: object

39

id        7282
n_bars      51
Name: 249, dtype: object

51

id        7284
n_bars      51
Name: 250, dtype: object

51

id        7285
n_bars      46
Name: 251, dtype: object

46

id        7287
n_bars      52
Name: 252, dtype: object

52

id        7288
n_bars      50
Name: 253, dtype: object

50

id        7289
n_bars      53
Name: 254, dtype: object

53

id        7304
n_bars      49
Name: 255, dtype: object

49

id        7305
n_bars      49
Name: 256, dtype: object

49

id        7307
n_bars      42
Name: 257, dtype: object

42

id        7315
n_bars      45
Name: 258, dtype: object

45

id        7316
n_bars      47
Name: 259, dtype: object

47

id        7319
n_bars      49
Name: 260, dtype: object

49

id        7320
n_bars      42
Name: 261, dtype: object

42

id        7321
n_bars      50
Name: 262, dtype: object

50

id        7325
n_bars      50
Name: 263, dtype: object

50

id        7327
n_bars      48
Name: 264, dtype: object

48

id        7330
n_bars      50
Name: 265, dtype: object

50

id        7333
n_bars      51
Name: 266, dtype: object

51

id        7334
n_bars      47
Name: 267, dtype: object

47

id        7348
n_bars      54
Name: 268, dtype: object

54

id        7375
n_bars      49
Name: 269, dtype: object

49

id        7376
n_bars      39
Name: 270, dtype: object

39

id        7377
n_bars      40
Name: 271, dtype: object

40

id        7387
n_bars      50
Name: 272, dtype: object

50

id        7388
n_bars      50
Name: 273, dtype: object

50

id        7402
n_bars      51
Name: 274, dtype: object

51

id        7403
n_bars      52
Name: 275, dtype: object

52

id        7405
n_bars      45
Name: 276, dtype: object

45

id        7407
n_bars      48
Name: 277, dtype: object

48

id        7421
n_bars      50
Name: 278, dtype: object

50

id        7423
n_bars      50
Name: 279, dtype: object

50

id        7433
n_bars      40
Name: 280, dtype: object

40

id        7436
n_bars      41
Name: 281, dtype: object

41

id        7439
n_bars      40
Name: 282, dtype: object

40

id        7456
n_bars      39
Name: 283, dtype: object

39

id        7461
n_bars      48
Name: 284, dtype: object

48

id        7462
n_bars      47
Name: 285, dtype: object

47

id        7494
n_bars      58
Name: 286, dtype: object

58

id        7499
n_bars      52
Name: 287, dtype: object

52

id        7526
n_bars      42
Name: 288, dtype: object

42

id        7527
n_bars      52
Name: 289, dtype: object

52

id        7542
n_bars      51
Name: 290, dtype: object

51

id        7563
n_bars      39
Name: 291, dtype: object

39

id        8154
n_bars      51
Name: 292, dtype: object

51

id        8158
n_bars      50
Name: 293, dtype: object

50

id        8290
n_bars      18
Name: 294, dtype: object

18

id        8369
n_bars      39
Name: 295, dtype: object

39

id        8370
n_bars      46
Name: 296, dtype: object

46

id        8371
n_bars      40
Name: 297, dtype: object

40

id        8372
n_bars      39
Name: 298, dtype: object

39

id        8373
n_bars      40
Name: 299, dtype: object

40

id        8374
n_bars      40
Name: 300, dtype: object

40

id        8375
n_bars      41
Name: 301, dtype: object

41

id        8376
n_bars      44
Name: 302, dtype: object

44

id        8377
n_bars      44
Name: 303, dtype: object

44

id        8379
n_bars      42
Name: 304, dtype: object

42

id        8384
n_bars      51
Name: 305, dtype: object

51

id        8390
n_bars      53
Name: 306, dtype: object

53

id        8391
n_bars      52
Name: 307, dtype: object

52

id        8422
n_bars      25
Name: 308, dtype: object

25

id        8429
n_bars      45
Name: 309, dtype: object

45

id        8436
n_bars      42
Name: 310, dtype: object

42

id        8465
n_bars      45
Name: 311, dtype: object

45

id        8476
n_bars      42
Name: 312, dtype: object

42

id        8483
n_bars      40
Name: 313, dtype: object

40

id        8491
n_bars      52
Name: 314, dtype: object

52

id        8494
n_bars      49
Name: 315, dtype: object

49

id        8510
n_bars      41
Name: 316, dtype: object

41

id        8533
n_bars      53
Name: 317, dtype: object

53

id        8535
n_bars      54
Name: 318, dtype: object

54

id        8542
n_bars      34
Name: 319, dtype: object

34

id        8543
n_bars      43
Name: 320, dtype: object

43

id        8544
n_bars      41
Name: 321, dtype: object

41

id        8553
n_bars      38
Name: 322, dtype: object

38

id        8589
n_bars      52
Name: 323, dtype: object

52

id        8593
n_bars      46
Name: 324, dtype: object

46

id        8596
n_bars      44
Name: 325, dtype: object

44

id        8597
n_bars      46
Name: 326, dtype: object

46

id        8599
n_bars      46
Name: 327, dtype: object

46

id        8600
n_bars      46
Name: 328, dtype: object

46

id        8601
n_bars      44
Name: 329, dtype: object

44

id        8604
n_bars      49
Name: 330, dtype: object

49

id        8610
n_bars      54
Name: 331, dtype: object

54

id        8611
n_bars      51
Name: 332, dtype: object

51

id        8614
n_bars      49
Name: 333, dtype: object

49

id        8615
n_bars      54
Name: 334, dtype: object

54

id        8618
n_bars      49
Name: 335, dtype: object

49

id        8657
n_bars      44
Name: 336, dtype: object

44

id        8658
n_bars      45
Name: 337, dtype: object

45

id        8682
n_bars      51
Name: 338, dtype: object

51

id        8686
n_bars      53
Name: 339, dtype: object

53

id        8692
n_bars      52
Name: 340, dtype: object

52

id        8715
n_bars      36
Name: 341, dtype: object

36

id        8718
n_bars      38
Name: 342, dtype: object

38

id        8719
n_bars      41
Name: 343, dtype: object

41

id        8752
n_bars      48
Name: 344, dtype: object

48

id        8755
n_bars      49
Name: 345, dtype: object

49

id        8757
n_bars      53
Name: 346, dtype: object

53

id        8761
n_bars      53
Name: 347, dtype: object

53

id        8762
n_bars      52
Name: 348, dtype: object

52

id        8763
n_bars      53
Name: 349, dtype: object

53

id        8764
n_bars      53
Name: 350, dtype: object

53

id        8772
n_bars      48
Name: 351, dtype: object

48

id        8773
n_bars      48
Name: 352, dtype: object

48

id        8775
n_bars      47
Name: 353, dtype: object

47

id        8776
n_bars      49
Name: 354, dtype: object

49

id        8787
n_bars      50
Name: 355, dtype: object

50

id        8788
n_bars      51
Name: 356, dtype: object

51

id        8815
n_bars      46
Name: 357, dtype: object

46

id        8816
n_bars      46
Name: 358, dtype: object

46

id        8817
n_bars      45
Name: 359, dtype: object

45

id        8823
n_bars      46
Name: 360, dtype: object

46

id        8826
n_bars      46
Name: 361, dtype: object

46

id        8827
n_bars      43
Name: 362, dtype: object

43

id        8828
n_bars      44
Name: 363, dtype: object

44

id        8829
n_bars      43
Name: 364, dtype: object

43

id        8833
n_bars      44
Name: 365, dtype: object

44

id        8834
n_bars      43
Name: 366, dtype: object

43

id        8836
n_bars      41
Name: 367, dtype: object

41

id        8837
n_bars      41
Name: 368, dtype: object

41

id        8838
n_bars      39
Name: 369, dtype: object

39

id        8839
n_bars      39
Name: 370, dtype: object

39

id        8840
n_bars      36
Name: 371, dtype: object

36

id        8841
n_bars      35
Name: 372, dtype: object

35

id        8842
n_bars      34
Name: 373, dtype: object

34

id        8843
n_bars      34
Name: 374, dtype: object

34

id        8844
n_bars      49
Name: 375, dtype: object

49

id        8849
n_bars      38
Name: 376, dtype: object

38

id        8865
n_bars      50
Name: 377, dtype: object

50

id        8866
n_bars      51
Name: 378, dtype: object

51

id        8867
n_bars      52
Name: 379, dtype: object

52

id        8868
n_bars      52
Name: 380, dtype: object

52

id        8869
n_bars      52
Name: 381, dtype: object

52

id        8894
n_bars      45
Name: 382, dtype: object

45

id        8908
n_bars      39
Name: 383, dtype: object

39

id        8909
n_bars      39
Name: 384, dtype: object

39

id        8911
n_bars      40
Name: 385, dtype: object

40

id        8912
n_bars      40
Name: 386, dtype: object

40

id        8915
n_bars      44
Name: 387, dtype: object

44

id        8917
n_bars      36
Name: 388, dtype: object

36

id        8942
n_bars      47
Name: 389, dtype: object

47

id        8946
n_bars      44
Name: 390, dtype: object

44

id        8955
n_bars      40
Name: 391, dtype: object

40

id        8957
n_bars      38
Name: 392, dtype: object

38

id        8970
n_bars      40
Name: 393, dtype: object

40

id        8972
n_bars      43
Name: 394, dtype: object

43

id        8977
n_bars      47
Name: 395, dtype: object

47

id        8978
n_bars      46
Name: 396, dtype: object

46

id        8983
n_bars      46
Name: 397, dtype: object

46

id        8984
n_bars      46
Name: 398, dtype: object

46

id        8985
n_bars      44
Name: 399, dtype: object

44

id        8986
n_bars      45
Name: 400, dtype: object

45

id        8987
n_bars      45
Name: 401, dtype: object

45

id        9000
n_bars      44
Name: 402, dtype: object

44

id        9013
n_bars      42
Name: 403, dtype: object

42

id        9031
n_bars       9
Name: 404, dtype: object

9

id        9032
n_bars      40
Name: 405, dtype: object

40

id        9034
n_bars      41
Name: 406, dtype: object

41

id        9043
n_bars      42
Name: 407, dtype: object

42

id        9048
n_bars      43
Name: 408, dtype: object

43

id        9051
n_bars      42
Name: 409, dtype: object

42

id        9052
n_bars      40
Name: 410, dtype: object

40

id        9057
n_bars      44
Name: 411, dtype: object

44

id        9061
n_bars      43
Name: 412, dtype: object

43

id        9062
n_bars      44
Name: 413, dtype: object

44

id        9063
n_bars      45
Name: 414, dtype: object

45

id        9073
n_bars      47
Name: 415, dtype: object

47

id        9075
n_bars      46
Name: 416, dtype: object

46

id        9077
n_bars      46
Name: 417, dtype: object

46

id        9083
n_bars      47
Name: 418, dtype: object

47

id        9084
n_bars      47
Name: 419, dtype: object

47

id        9085
n_bars      35
Name: 420, dtype: object

35

id        9086
n_bars      54
Name: 421, dtype: object

54

id        9102
n_bars      31
Name: 422, dtype: object

31

id        9121
n_bars      32
Name: 423, dtype: object

32

id        9122
n_bars      19
Name: 424, dtype: object

19

id        9269
n_bars      55
Name: 425, dtype: object

55

id        9372
n_bars      53
Name: 426, dtype: object

53

id        9411
n_bars      45
Name: 427, dtype: object

45

id        9412
n_bars      46
Name: 428, dtype: object

46

id        9414
n_bars      39
Name: 429, dtype: object

39

id        9456
n_bars      48
Name: 430, dtype: object

48

id        9473
n_bars      44
Name: 431, dtype: object

44

id        9508
n_bars      43
Name: 432, dtype: object

43

id        9842
n_bars      40
Name: 433, dtype: object

40

id        10317
n_bars       47
Name: 434, dtype: object

47

id        10318
n_bars       47
Name: 435, dtype: object

47

id        10319
n_bars       46
Name: 436, dtype: object

46

id        10324
n_bars       45
Name: 437, dtype: object

45

id        10344
n_bars       39
Name: 438, dtype: object

39

id        10363
n_bars       44
Name: 439, dtype: object

44

id        10375
n_bars       40
Name: 440, dtype: object

40

id        10399
n_bars       44
Name: 441, dtype: object

44

id        10401
n_bars       45
Name: 442, dtype: object

45

id        10418
n_bars       47
Name: 443, dtype: object

47

id        10419
n_bars       44
Name: 444, dtype: object

44

id        10420
n_bars       45
Name: 445, dtype: object

45

id        10421
n_bars       30
Name: 446, dtype: object

30

id        10427
n_bars       49
Name: 447, dtype: object

49

id        10428
n_bars       44
Name: 448, dtype: object

44

id        10429
n_bars       53
Name: 449, dtype: object

53

id        10430
n_bars       46
Name: 450, dtype: object

46

id        10433
n_bars       40
Name: 451, dtype: object

40

id        10437
n_bars       40
Name: 452, dtype: object

40

id        10438
n_bars       52
Name: 453, dtype: object

52

id        10446
n_bars       48
Name: 454, dtype: object

48

id        10587
n_bars       43
Name: 455, dtype: object

43

id        10588
n_bars       43
Name: 456, dtype: object

43

id        10593
n_bars       39
Name: 457, dtype: object

39

id        10612
n_bars       43
Name: 458, dtype: object

43

id        10615
n_bars       44
Name: 459, dtype: object

44

id        10617
n_bars       44
Name: 460, dtype: object

44

id        10618
n_bars       44
Name: 461, dtype: object

44

id        10619
n_bars       44
Name: 462, dtype: object

44

id        10721
n_bars       29
Name: 463, dtype: object

29

id        10771
n_bars       43
Name: 464, dtype: object

43

id        10777
n_bars       47
Name: 465, dtype: object

47

id        11374
n_bars       38
Name: 466, dtype: object

38

id        11378
n_bars       37
Name: 467, dtype: object

37

id        11402
n_bars       19
Name: 468, dtype: object

19

id        11444
n_bars       43
Name: 469, dtype: object

43

id        11451
n_bars       16
Name: 470, dtype: object

16

id        11482
n_bars       29
Name: 471, dtype: object

29

id        11485
n_bars       43
Name: 472, dtype: object

43

id        11499
n_bars       26
Name: 473, dtype: object

26

id        11507
n_bars       43
Name: 474, dtype: object

43

id        11508
n_bars       43
Name: 475, dtype: object

43

id        11636
n_bars       40
Name: 476, dtype: object

40

id        11644
n_bars       44
Name: 477, dtype: object

44

id        11659
n_bars       53
Name: 478, dtype: object

53

id        11660
n_bars       51
Name: 479, dtype: object

51

id        11661
n_bars       51
Name: 480, dtype: object

51

id        11663
n_bars       51
Name: 481, dtype: object

51

id        11664
n_bars       42
Name: 482, dtype: object

42

id        11665
n_bars       44
Name: 483, dtype: object

44

id        11666
n_bars       44
Name: 484, dtype: object

44

id        11814
n_bars       40
Name: 485, dtype: object

40

id        11820
n_bars       40
Name: 486, dtype: object

40

id        11824
n_bars       40
Name: 487, dtype: object

40

id        11825
n_bars       40
Name: 488, dtype: object

40

id        11826
n_bars       39
Name: 489, dtype: object

39

id        11827
n_bars       40
Name: 490, dtype: object

40

id        11830
n_bars       32
Name: 491, dtype: object

32

id        11831
n_bars       47
Name: 492, dtype: object

47

id        11843
n_bars       43
Name: 493, dtype: object

43

id        11845
n_bars       45
Name: 494, dtype: object

45

id        11847
n_bars       45
Name: 495, dtype: object

45

id        11848
n_bars       47
Name: 496, dtype: object

47

id        11852
n_bars       46
Name: 497, dtype: object

46

id        11858
n_bars       45
Name: 498, dtype: object

45

id        11860
n_bars       42
Name: 499, dtype: object

42

id        11862
n_bars       40
Name: 500, dtype: object

40

id        11864
n_bars       41
Name: 501, dtype: object

41

id        11868
n_bars       40
Name: 502, dtype: object

40

id        11869
n_bars       41
Name: 503, dtype: object

41

id        11903
n_bars       51
Name: 504, dtype: object

51

id        11906
n_bars       45
Name: 505, dtype: object

45

id        11920
n_bars       20
Name: 506, dtype: object

20

id        11942
n_bars       43
Name: 507, dtype: object

43

id        11943
n_bars       42
Name: 508, dtype: object

42

id        11972
n_bars       42
Name: 509, dtype: object

42

id        11988
n_bars       49
Name: 510, dtype: object

49

id        11990
n_bars       50
Name: 511, dtype: object

50

id        11991
n_bars       49
Name: 512, dtype: object

49

id        12002
n_bars       39
Name: 513, dtype: object

39

id        12003
n_bars       43
Name: 514, dtype: object

43

id        12004
n_bars       44
Name: 515, dtype: object

44

id        12009
n_bars       46
Name: 516, dtype: object

46

id        12018
n_bars       30
Name: 517, dtype: object

30

id        12036
n_bars       48
Name: 518, dtype: object

48

id        12040
n_bars       48
Name: 519, dtype: object

48

id        12056
n_bars       53
Name: 520, dtype: object

53

id        12127
n_bars       46
Name: 521, dtype: object

46

id        12128
n_bars       46
Name: 522, dtype: object

46

id        12129
n_bars       45
Name: 523, dtype: object

45

id        12130
n_bars       36
Name: 524, dtype: object

36

id        12133
n_bars       48
Name: 525, dtype: object

48

id        12139
n_bars       50
Name: 526, dtype: object

50

id        12142
n_bars       53
Name: 527, dtype: object

53

id        12146
n_bars       45
Name: 528, dtype: object

45

id        12151
n_bars       35
Name: 529, dtype: object

35

id        12152
n_bars       38
Name: 530, dtype: object

38

id        12167
n_bars       52
Name: 531, dtype: object

52

id        12169
n_bars       41
Name: 532, dtype: object

41

id        12170
n_bars       45
Name: 533, dtype: object

45

id        12196
n_bars       51
Name: 534, dtype: object

51

id        12220
n_bars       50
Name: 535, dtype: object

50

id        12221
n_bars       51
Name: 536, dtype: object

51

id        12222
n_bars       51
Name: 537, dtype: object

51

id        12246
n_bars       53
Name: 538, dtype: object

53

id        12247
n_bars       50
Name: 539, dtype: object

50

id        12257
n_bars       50
Name: 540, dtype: object

50

id        12259
n_bars       52
Name: 541, dtype: object

52

id        12260
n_bars       53
Name: 542, dtype: object

53

id        12289
n_bars       47
Name: 543, dtype: object

47

id        12290
n_bars       45
Name: 544, dtype: object

45

id        12295
n_bars       44
Name: 545, dtype: object

44

id        12297
n_bars       42
Name: 546, dtype: object

42

id        12298
n_bars       42
Name: 547, dtype: object

42

id        12310
n_bars       34
Name: 548, dtype: object

34

id        12311
n_bars        5
Name: 549, dtype: object

5

id        12314
n_bars       44
Name: 550, dtype: object

44

id        12317
n_bars       44
Name: 551, dtype: object

44

id        12321
n_bars       31
Name: 552, dtype: object

31

id        12322
n_bars       31
Name: 553, dtype: object

31

id        12330
n_bars       32
Name: 554, dtype: object

32

id        12335
n_bars       33
Name: 555, dtype: object

33

id        12341
n_bars       46
Name: 556, dtype: object

46

id        12342
n_bars       42
Name: 557, dtype: object

42

id        12345
n_bars       45
Name: 558, dtype: object

45

id        12346
n_bars       47
Name: 559, dtype: object

47

id        12361
n_bars       52
Name: 560, dtype: object

52

id        12362
n_bars       51
Name: 561, dtype: object

51

id        12363
n_bars       50
Name: 562, dtype: object

50

id        12434
n_bars       44
Name: 563, dtype: object

44

id        12437
n_bars       39
Name: 564, dtype: object

39

id        12438
n_bars       44
Name: 565, dtype: object

44

id        12440
n_bars       45
Name: 566, dtype: object

45

id        12441
n_bars       46
Name: 567, dtype: object

46

id        12461
n_bars       39
Name: 568, dtype: object

39

id        12462
n_bars       39
Name: 569, dtype: object

39

id        12464
n_bars       42
Name: 570, dtype: object

42

id        12469
n_bars       46
Name: 571, dtype: object

46

id        12473
n_bars       35
Name: 572, dtype: object

35

id        12522
n_bars       35
Name: 573, dtype: object

35

id        12704
n_bars       45
Name: 574, dtype: object

45

id        12720
n_bars       15
Name: 575, dtype: object

15

id        12721
n_bars       17
Name: 576, dtype: object

17

id        12861
n_bars       51
Name: 577, dtype: object

51

id        12878
n_bars       51
Name: 578, dtype: object

51

id        12879
n_bars       53
Name: 579, dtype: object

53

id        12880
n_bars       42
Name: 580, dtype: object

42

id        12881
n_bars       44
Name: 581, dtype: object

44

id        12882
n_bars       41
Name: 582, dtype: object

41

id        12888
n_bars       45
Name: 583, dtype: object

45

id        12889
n_bars       45
Name: 584, dtype: object

45

id        12890
n_bars       43
Name: 585, dtype: object

43

id        12897
n_bars       52
Name: 586, dtype: object

52

id        12899
n_bars       53
Name: 587, dtype: object

53

id        12904
n_bars       53
Name: 588, dtype: object

53

id        12907
n_bars       54
Name: 589, dtype: object

54

id        12908
n_bars       45
Name: 590, dtype: object

45

id        12909
n_bars       46
Name: 591, dtype: object

46

id        12910
n_bars       45
Name: 592, dtype: object

45

id        12911
n_bars       46
Name: 593, dtype: object

46

id        12912
n_bars       45
Name: 594, dtype: object

45

id        12913
n_bars       46
Name: 595, dtype: object

46

id        12914
n_bars       46
Name: 596, dtype: object

46

id        12923
n_bars       45
Name: 597, dtype: object

45

id        12924
n_bars       45
Name: 598, dtype: object

45

id        12928
n_bars       48
Name: 599, dtype: object

48

id        12942
n_bars       39
Name: 600, dtype: object

39

id        12946
n_bars       38
Name: 601, dtype: object

38

id        12962
n_bars       52
Name: 602, dtype: object

52

id        12963
n_bars       51
Name: 603, dtype: object

51

id        12971
n_bars       47
Name: 604, dtype: object

47

id        12980
n_bars       36
Name: 605, dtype: object

36

id        12981
n_bars       36
Name: 606, dtype: object

36

id        12982
n_bars       36
Name: 607, dtype: object

36

id        12983
n_bars       36
Name: 608, dtype: object

36

id        12991
n_bars       49
Name: 609, dtype: object

49

id        12993
n_bars       51
Name: 610, dtype: object

51

id        13011
n_bars       46
Name: 611, dtype: object

46

id        13118
n_bars       53
Name: 612, dtype: object

53

id        19823
n_bars        4
Name: 613, dtype: object

4

id        19926
n_bars        3
Name: 614, dtype: object

3

id        21657
n_bars       12
Name: 615, dtype: object

12

id        40858
n_bars        3
Name: 616, dtype: object

3

id        40883
n_bars       33
Name: 617, dtype: object

33

id        40910
n_bars       32
Name: 618, dtype: object

32

id        40932
n_bars       30
Name: 619, dtype: object

30

id        40942
n_bars       27
Name: 620, dtype: object

27

id        40957
n_bars       30
Name: 621, dtype: object

30

id        40966
n_bars       50
Name: 622, dtype: object

50

id        41013
n_bars        2
Name: 623, dtype: object

2

id        41026
n_bars        3
Name: 624, dtype: object

3

id        41028
n_bars        3
Name: 625, dtype: object

3

id        41055
n_bars        5
Name: 626, dtype: object

5

id        41079
n_bars        2
Name: 627, dtype: object

2

id        41113
n_bars        1
Name: 628, dtype: object

1

id        41179
n_bars        1
Name: 629, dtype: object

1

id        41187
n_bars        1
Name: 630, dtype: object

1

id        41208
n_bars        1
Name: 631, dtype: object

1

id        41241
n_bars        1
Name: 632, dtype: object

1

id        41251
n_bars        1
Name: 633, dtype: object

1

id        41401
n_bars        1
Name: 634, dtype: object

1

id        41403
n_bars        1
Name: 635, dtype: object

1

id        41441
n_bars        1
Name: 636, dtype: object

1

id        41512
n_bars       49
Name: 637, dtype: object

49

id        41540
n_bars       45
Name: 638, dtype: object

45

id        41547
n_bars       40
Name: 639, dtype: object

40

id        41569
n_bars       20
Name: 640, dtype: object

20

id        41598
n_bars        5
Name: 641, dtype: object

5

id        41616
n_bars       32
Name: 642, dtype: object

32

id        41618
n_bars       30
Name: 643, dtype: object

30

id        41624
n_bars       29
Name: 644, dtype: object

29

id        41628
n_bars       29
Name: 645, dtype: object

29

id        41643
n_bars       23
Name: 646, dtype: object

23

id        50438
n_bars       43
Name: 647, dtype: object

43

id        50439
n_bars        1
Name: 648, dtype: object

1

id        50447
n_bars        1
Name: 649, dtype: object

1

id        50462
n_bars        1
Name: 650, dtype: object

1

id        50514
n_bars       23
Name: 651, dtype: object

23

id        50556
n_bars       40
Name: 652, dtype: object

40

id        50559
n_bars       37
Name: 653, dtype: object

37

id        50569
n_bars       40
Name: 654, dtype: object

40

id        50584
n_bars       44
Name: 655, dtype: object

44

id        50587
n_bars        4
Name: 656, dtype: object

4

id        50589
n_bars       10
Name: 657, dtype: object

10

id        50590
n_bars        7
Name: 658, dtype: object

7

id        50592
n_bars       33
Name: 659, dtype: object

33

id        50594
n_bars       33
Name: 660, dtype: object

33

id        50620
n_bars       40
Name: 661, dtype: object

40

id        50623
n_bars       38
Name: 662, dtype: object

38

id        50628
n_bars       40
Name: 663, dtype: object

40

id        50638
n_bars       34
Name: 664, dtype: object

34

id        50653
n_bars       28
Name: 665, dtype: object

28

id        50666
n_bars       38
Name: 666, dtype: object

38

id        50667
n_bars       38
Name: 667, dtype: object

38

id        50685
n_bars        3
Name: 668, dtype: object

3

id        50815
n_bars        1
Name: 669, dtype: object

1

id        50943
n_bars       36
Name: 670, dtype: object

36

id        50952
n_bars        1
Name: 671, dtype: object

1

id        50974
n_bars       32
Name: 672, dtype: object

32

id        50980
n_bars       47
Name: 673, dtype: object

47

id        50982
n_bars       48
Name: 674, dtype: object

48

id        51009
n_bars        2
Name: 675, dtype: object

2

id        51041
n_bars        1
Name: 676, dtype: object

1

id        51096
n_bars        3
Name: 677, dtype: object

3

id        51105
n_bars       29
Name: 678, dtype: object

29

id        52695
n_bars       46
Name: 679, dtype: object

46

id        52697
n_bars       36
Name: 680, dtype: object

36

id        52703
n_bars       46
Name: 681, dtype: object

46

id        52704
n_bars       31
Name: 682, dtype: object

31

id        52708
n_bars       37
Name: 683, dtype: object

37

id        52731
n_bars       46
Name: 684, dtype: object

46

id        52732
n_bars       46
Name: 685, dtype: object

46

id        64526
n_bars       49
Name: 686, dtype: object

49

id        64822
n_bars       54
Name: 687, dtype: object

54

id        65285
n_bars       46
Name: 688, dtype: object

46

id        65329
n_bars       47
Name: 689, dtype: object

47

id        65652
n_bars        1
Name: 690, dtype: object

1

id        65937
n_bars       51
Name: 691, dtype: object

51

id        65938
n_bars       51
Name: 692, dtype: object

51

id        205265
n_bars        43
Name: 693, dtype: object

43

In [262]:
all_id_copy

         id n_bars
0      1698      4
1      1700      4
2      2110     50
3      2143      3
4      2203      1
..      ...    ...
695   65329     47
696   65652      1
697   65937     51
698   65938     51
699  205265     43

[700 rows x 2 columns]

In [264]:
all_id_copy.to_excel(r'C:\Users\meita\Documents\shenkar\jma\data\STUDENTS\bars\combo_trimmed.xlsx', index = False)